/* https://stackoverflow.com/a/29512692
"Sticky" table header
*/
.table-container {
    height: 30%;
}
.table-container table {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.table-container table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.7em);
}
.table-container table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.table-container table tbody tr {
    width: 100%;
}
.table-container table thead,
.table-container table tbody tr {
    display: table;
    table-layout: fixed;
}


div .ui.card>.content.small-header {
    flex-grow: 0;
}

pre.content.code-block {
    overflow-x: auto;
}

td.fill-space {
    overflow-x: hidden;
    text-overflow: ellipsis;
}
